*.vs
project/Debug
project/Release
project/x64
project/cplog.txt
project/packages
project/dependencies/eigen-3.4.0
project/examples
project/pictures/antelope.jpg
project/pictures/bigbird.jpg
project/pictures/boar.jpg
project/pictures/brontosaurus.png
project/pictures/cow.jpg
project/pictures/cow2.jpg
project/pictures/deer.jpg
project/pictures/deer2.jpg
project/pictures/dinosaur.png
project/pictures/dodo.jpg
project/pictures/dog.jpg
project/pictures/dog2.jpg
project/pictures/dog3.jpg
project/pictures/dog4.png
project/pictures/dragon.png
project/pictures/emu.jpg
project/pictures/fairy.jpg
project/pictures/griphon.png
project/pictures/hippo.jpg
project/pictures/horses.jpg
project/pictures/hyena.jpg
project/pictures/lion.png
project/pictures/perognathus.jpg
project/pictures/rabbit2.png
project/pictures/sloth.png
project/pictures/steed.jpg
project/pictures/swan.png
project/pictures/toon_zebra.png
project/pictures/two_horses.jpg
project/pictures/unicorn2.jpg
project/pictures/wolf2.png
project/pictures/zebra.jpg
